<html>
<head>
<meta charset="utf-8" />
<title>GPU list</title>
</head>
<style>
table, tr,td,th {
  border: 1px solid black;
	autowidth : true;
}
tr:hover{
  background-color:#f5f5f5;
}
</style>
<body>
	<h2 align="center">GPU List's</h2>

	<p align=center><a href="/">Home</a></p>
	<br>
	<form method="get">
		<table>
			<thead>
				<tr>
					<th>GPU name</th>
					<th>Manufacturer name</th>
					<th>Date issued</th>
					<th>GeometryShader</th>
					<th>TesselationShader</th>
					<th>ShaderInt16</th>
					<th>SparseBinding</th>
					<th>TextureCompressionETC2</th>
					<th>VertexPipelineStoresAndAtomics</th>

				</tr>
			</thead>
			<tbody>
			<tr>
          <td></td>
          <td></td>
          <td></td>
          <td><center><input type = "checkbox" name="filter_geometry_shader"  {% if f_geometry_shader %} checked {% endif %} /></center></td>
          <td><center><input type = "checkbox" name="filter_tesselation_shader" {% if f_tesselation_shader %} checked {% endif %} /></center></td>
          <td><center><input type = "checkbox" name="filter_shaderInt16" {% if f_shaderInt16 %} checked {% endif %} /></center></td>
          <td><center><input type = "checkbox" name="filter_sparse_binding"{% if f_sparse_binding %} checked {% endif %}/></center></td>
          <td><center><input type = "checkbox" name="filter_texture_compressionETC2"{% if f_texture_compressionETC2 %} checked {% endif %}/></center></td>
          <td><center><input type = "checkbox" name="filter_vertex_pipeline_stores"{% if f_vertex_pipeline_stores %} checked {% endif %}/></center></td>

      </tr>
			{% for mygpu in user_array %}
			<tr>

				<td><a href="/GPUinfo?name={{ mygpu.key.id() }}">{{
						mygpu.key.id() }}</a></td>
				<td>{{ mygpu.manufacturer }}</td>
				<td>{{ mygpu.date_issued }}</td>
				<td>{{ mygpu.geometry_shader}}</td>
				<td>{{ mygpu.tesselation_shader }}</td>
				<td>{{ mygpu.shaderInt16 }}</td>
				<td>{{ mygpu.sparse_binding }}</td>
				<td>{{ mygpu.texture_compressionETC2 }}</td>
				<td>{{ mygpu.vertex_pipeline_stores }}</td>

			</tr>
			{% endfor %}
			</tbody>
		</table>
		<p align="center"> Select the GPU features and click the search button</br>
		<input type="submit" value="Feature Search" name="button" />
		</p>
	</form>
</body>
</html>
